@font-face {
    font-family: RunesFont;
    src: url(font/RetroGaming.ttf); /*TODO : true url*/
}

@font-face {
    font-family: RetroGaming;
    src: url(font/RetroGaming.ttf);
}

body {
    /* COLORS */
    --bg-color-info: rgb(86 234 255);
    --bg-color-error: rgb(255 71 90);
    --bg-color-success: rgb(75, 157, 38);

    --bg-color-alert-error: rgb(255, 186, 195);
    --bg-color-alert-success: rgb(144, 216, 126);
    font-family: RetroGaming;
}
* {
    font-family: RetroGaming;
}

.runes-font {
    font-family: RunesFont;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.ml-1 {
    margin-left: 0.5rem;
}

.mr-1 {
    margin-right: 0.5rem;
}

.m-1 {
    margin: 0.5rem
}

.mt-2 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.ml-2 {
    margin-left: 1rem;
}

.mr-2 {
    margin-right: 1rem;
}

.m-2 {
    margin: 1rem
}

.pt-1 {
    padding-top: 0.5rem;
}

.pb-1 {
    padding-bottom: 0.5rem;
}

.pl-1 {
    padding-left: 0.5rem;
}

.pr-1 {
    padding-right: 0.5rem;
}

.p-1 {
    padding: 0.5rem
}

.pt-2 {
    padding-top: 1rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pl-2 {
    padding-left: 1rem;
}

.pr-2 {
    padding-right: 1rem;
}

.p-2 {
    padding: 1rem
}

.btn {
    border-radius: 4px;
    padding: 4px 16px;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    border: 2px black solid;
    height: 2.5rem;
}

.bg-success {
    background-color: var(--bg-color-success);
}

.bg-error {
    background-color: var(--bg-color-error);
}

.bg-info {
    background-color: var(--bg-color-info);
}

.bg-white {
    background-color: white;
}

.alert {
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
}

.alert.error {
    background-color: var(--bg-color-alert-error);
    border-color: var(--bg-color-error);
}

.alert.success {
    background-color: var(--bg-color-alert-success);
    border-color: var(--bg-color-success);
}

.error {
    color: var(--bg-color-error);
}

.success {
    color: var(--bg-color-success);
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}