<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My inventory">

    <title>My inventory</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://play.workadventu.re/iframe_api.js"></script>
    <script src="inventory.ts" type="module"></script>
</head>
<body>
    <div class="bg-white p-2">
        <div id="title" class="text-align-center mb-2">Mon titre</div>
        <div id="inventoryContent"></div>
        <div class="text-align-center mt-2">
            <button id="closeButton">Fermer</button>
        </div>
    </div>
</body>
</html>