<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://play.workadventu.re/iframe_api.js"></script>
    <script src="discussion.ts" type="module"></script>
</head>
    <body>
        <div style="background: white; overflow: hidden; border:5px solid black">
            <div
                id="title"
                style="font-size: large; padding: 25px;"
            >
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px;">

            </div>
            <div class="text-align-right m-2">
                <button class="btn bg-info cursor-pointer" id="closeButton">
                </button>
            </div>
        </div>
    </body>
</html>