<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="title" content="Base runes wallet">

        <title>Base runes</title>
        <link rel="stylesheet" href="../main.css">
        <script src="https://play.workadventu.re/iframe_api.js"></script>
        <script src="./base.ts" type="module"></script>
    </head>
    <body>
        <div class="bg-white">
            <div id="title" class="text-align-center">
                Title
            </div>
            <div id="content">
                CECI EST MON SITE DE RUNES
            </div>
            <div>
                <button id="closeButton">
                    Fermer
                </button>
            </div>
        </div>
    </body>
</html>